@import 'font-awesome-sprockets';
@import 'font-awesome';

.fa.medium {
  font-size: 200px;
}

.fa.big {
  font-size: 700px;

  .inverse {
    color: white;
    background: black;
  }

  .red {
    color: red;
  }
}
